README.old
build-stamp
configure-stamp
*.log
*.debhelper
*.substvars
debian/files
debian/rskkserv
doc/rskkserv.1
doc/rskkserv.1.ja_JP.eucJP
/SKK-JISYO.JIS3_4
/SKK-JISYO.JIS3_4.utf-8
/autom4te.cache/
/ext/.RUBYARCHDIR.time
/ext/.RUBYLIBDIR.time
/ext/skkdic.o
/ext/skkdic.so
/rskkserv.conf~
/skkserv.rb~
/SKK-JISYO.itaiji.JIS3_4.utf-8
/ext/lib/googledic.rb~
/ext/.RUBYARCHDIR.-.skkserv.time
/ext/.RUBYLIBDIR.-.skkserv.time
/rskkserv.conf.in.bak
/skkserv.rb.in.bak
/Makefile
/ext/Makefile
/INSTALL
/config.status
/configure
/ext/depend
/ext/extconf.rb
/rskkserv.conf
/rskkserv.spec
/skkserv.rb
