Source: rskkserv
Section: utils
Priority: optional
Maintainer: Shugo Maeda <shugo@netlab.co.jp>
Build-Depends: debhelper (>> 4.0.0), libc6-dev, ruby1.8, ruby1.8-dev
Standards-Version: 3.6.1

Package: rskkserv
Architecture: any
Depends: ruby, skkdic, ${shlibs:Depends}
Recommends: libwrap-ruby1.8
Suggests: skkdic-extra, libeb-ruby1.8
Provides: skkserv
Conflicts: skkserv
Replaces: skkserv
Description: SKK Dictionary server implemented by Ruby
 rskkserv is an alternate version of skkserv implemented by Ruby.
